<br>
<br>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Usuarios que han completado la tarea</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path, class:'btn btn-warning' %>